.app{
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.api-btn{
  
  background-color: white;
  color: black;
  width: 100px;
  height: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  cursor: pointer;
  border: none;
}

.click{
  background-color: black;
  color: white;
  width: 100px;
  height: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  cursor: pointer;
  border: none;

}


.apiOne{

  background-color: white;
  border-left: solid;
  padding: 20px;
  position: absolute;
  top: 50px;
  right: 500px;
  cursor: pointer;
  color: black;


}

.apiTwo{
  
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 220px;
  right: 1000px;
  left: 200px;
  cursor: pointer;
  border-left: solid;
  color: black;

}


.apiThree{
  
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 520px;
  right: 1000px;
  left: 200px;
  cursor: pointer;
  border-left: solid;
  color: black;

}