.app{
  display: flex;
  justify-content: center;
}

.api-btn{
  
  background-color: white;
  border: none;
  padding: 30px 180px;
  outline: 0;
  cursor: pointer;
  color: black;
}

.click{
  background-color: black;
  color: white ;
  cursor: pointer;
  border: none;
  padding: 30px 180px;
  outline: 0;
}